body {
  padding: 50px;
  font-family: 'Kodchasan', sans-serif;
  font-size: 20px;
  background-color:#efefef;
  color:#3f3f3f;
  width:100%;
}

a {
  color: #00B7FF;
}

.form{
  width:30%;
  float:left;
}
.comments{
  background-color: #e2b5b5;
  width:50%;
  float:left;
  min-height:595px;
  margin-bottom:20px;
}
h2{
  margin:20px;
}

#temp{
  margin:35% 0;
  text-align:center;
  vertical-align:middle;
  font-size:50px;
}