body {
  padding: 50px;
  font-family: 'Kodchasan', sans-serif;
  font-size: 20px;
  background-color:#f2e2bf;
  color:#3f3f3f;
  width:100%;
}

a {
  color: #00B7FF;
}

.title {
  padding-top:1%;
  padding-left:10%;
  padding-bottom: 1%;
  margin-bottom: 3%;
  color:#f2e2bf;
  background-color:#5e6524;
  font-weight: bold;
}

.form{
  width:25%;
  float:left;
  min-width: 250px;
  color:#673718;
}

.trending {
  margin-top: 50px;
  padding:20px;
  border:solid;
  border-color: #cc510b;
  width:100%;
  border-width: 1em;
}

.buffer {
  width:5%;
  float:left;
}
.comments{
  width:70%;
  float:right;
  min-height:595px;
  margin-bottom:20px;
}
h2{
  margin:20px;
}

#temp{
  margin:35% 0;
  text-align:center;
  vertical-align:middle;
  font-size:50px;
}

.caption p{
  text-align: right;
}

.imageCard{
  width:45%;
  color:#673718;
  background-color:#eead3d;
  padding:15px;
  margin:5px;
  display:inline-block;
}

.popCard{
  width:100%;
  color:#673718;
  background-color:#eead3d;
  padding:15px;
  display:inline-block;
}