body {
  padding: 50px;
  font-family: 'Kodchasan', sans-serif;
  font-size: 20px;
  background-color:#F5DCD3;
  color:#353238;
  width:100%;
}

a {
  color: #00B7FF;
}

.title {
  margin-left:10%;
  margin-bottom: 3%;
}

.form{
  width:25%;
  float:left;
  min-width: 250px;
}

.trending {
  margin-top: 50px;
  padding:20px;
  border: 2px solid;
  border-color: #CE796B;
  width:100%;
}

.buffer {
  width:5%;
  float:left;
}
.comments{
  width:70%;
  float:right;
  min-height:595px;
  margin-bottom:20px;
}
h2{
  margin:20px;
}

#temp{
  margin:35% 0;
  text-align:center;
  vertical-align:middle;
  font-size:50px;
}

.caption p{
  text-align: right;
}

.imageCard{
  width:45%;
  background-color:#F4EBE8;
  padding:15px;
  margin:5px;
  display:inline-block;
}

.popCard{
  width:100%;
  background-color:#F4EBE8;
  padding:15px;
  display:inline-block;
}